{% extends 'base.html.twig' %}

{% block title %}Manage {{entityDisplayNamePlural}}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'motherboards', 
		'path':'motherboards', 
		'set':{'motherboard':'Motherboards','formfactor':'Form factors'}
	} %}
{% endblock %}
