{% extends 'base.html.twig' %}
{% block title %}Home - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="The Retro Web motherboard database, here you can find board photos, BIOS images, manuals and more!">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('app_homepage')) }}"/>
{% endblock %}

{% block body %}<div class="title">Where do you want to go today?</div>
	<div class="index-buttons">
		<a href="{{ path("motherboard_search") }}">
			<img src="{{ absolute_url(asset('build/icons/index/motherboard.svg')) }}" alt="mobo" width="210" height="180">
			<div>Motherboards</div><div>({{moboCount}}&nbsp;entries)</div>
		</a>
		{# ============= when it's ready
		<a href="#">
			<img src="{{ absolute_url(asset('build/images/index/card.webp')) }}" alt="cards" width="210" height="180">
			<div>Expansion cards</div><div>[WIP]</div>
		</a>#}
		<a href="{{ path("bios_search") }}">
			<img src="{{ absolute_url(asset('build/icons/index/awchip.svg')) }}" alt="bios" width="210" height="180">
			<div>BIOS images</div><div>({{biosCount}}&nbsp;files)</div>
		</a>
		<a href="{{ path("chipset_search") }}">
			<img src="{{ absolute_url(asset('build/icons/admin/chip.svg')) }}" alt="chipset" width="210" height="180">
			<div>Chipsets</div><div>({{chipCount}}&nbsp;entries)</div>
		</a>
		<a href="{{ path("processor_search") }}">
			<img src="{{ absolute_url(asset('build/icons/admin/486dx.svg')) }}" alt="cpu" width="210" height="180">
			<div>CPUs</div><div>({{cpuCount}}&nbsp;entries)</div>
		</a>
		<a href="{{ path("driver_search") }}">
			<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="driver" width="210" height="180">
			<div>Drivers &amp; Software</div><div>({{driverCount}}&nbsp;files)</div>
		</a>
	</div>
	<div class="perks" data-controller="datetime">
		<p><b>Recently added and updated boards</b></p>
		<div id="index-datetime" class="perks-list">
        {% for motherboard in latestMotherboards %}
			<div class="perk">
				<a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}">
					<div class="perk-image">
					{% if motherboard.getImages() is not empty %}
						{% set imgtype_count = 0 %}
						{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
							<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
								{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}{% else %}
								{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
								{% set imgtype_count = imgtype_count + 1 %}
						{% endfor %}
						{% if imgtype_count == 0 %}
							<img src="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}
					{% else %}
						<img src="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}" alt="missing image" loading="lazy" width="250" height="200" title="no images available :(">
					{% endif %}</div>
					<div class="perk-name">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</div>
					<div class="perk-date">{{ motherboard.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</div>
				</a>
			</div>	
		{% endfor %}
		</div>
	</div>
{% endblock %}