{% extends 'base.html.twig' %}

{% block title %}Manage users{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;">
	<b>Add a new user:</b>
</div>
<div style="margin:0 auto;display:table;">
    <img style="display:inline-block;" src="{{ absolute_url(asset('build/icons/admin/user.svg')) }}" width="128" alt="">
	<div style="display:inline-block;">
		<div>Successfully created a new user with the following credentials:</div>
        <ul>
            <li>Username:&nbsp; {{ username }}</li>
            <li>Password:&nbsp; {{ password }}</li>
        </ul>
    </div>
    <a class="button" href="{{ path('admin_user_manage') }}" style="display:inline-block;">
		<img src="{{ absolute_url(asset('build/icons/back.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Go back</a>
</div>
{% endblock %}