{% extends 'base.html.twig' %}

{% block title %}Manage CPU family{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
<div class="title">Edit:&nbsp;CPU family
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('processor_platform_type_form_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div style="width:100%;">
	<div style="display:table;margin:0 auto;">
		<span>{{form_label(form.name)}}</span>
		<span>&nbsp;{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</span>
	</div>
	<div style="display:table;margin:0 auto;text-align:center;">
		{% include 'macros/entityList.html.twig' with {'entityName':'compatibleWith', 'label': 'Compatible with platforms:', 'entities':form.compatibleWith} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save)}}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
