<div class="quick-spec-table" data-controller="collection">
	<div class="quick-spec-head editor"><div>{{ label }}</div>
	{% include 'macros/buttons.html.twig' with {'type':'add', 'action': entityName} %}</div>
	<div id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}" data-prototype="{{ form_widget(entities.vars.prototype, {'attr': {'style': 'display:inline-block;'}})|e }} 
		{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
		{% if entities is not empty %}
			{% for entity in entities %}
				<div class="editor-row nopad">
					{{ form_widget(entity, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="">': '<option label=" " value="">'})|raw }}
					{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
				</div>
				{{ form_errors(entity) }}
			{% endfor %}
		{% endif %}
		{{ form_errors(entities) }}
	</div>
</div>
