{% if pageCount > 1 %}
    <div class="pagination">
        <a class="first" href="{% if first is defined %}{{ path(route, query|merge({(pageParameterName): first})) }}{% endif %}">&lt;&lt;&nbsp;First</a>
        <a class="previous" rel="prev" href="{% if previous is defined %}{{ path(route, query|merge({(pageParameterName): previous})) }}{% endif %}">&lt;&nbsp;Prev</a>
        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="page" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}
        {% endfor %}
        <a class="next" rel="next" href="{% if next is defined %}{{ path(route, query|merge({(pageParameterName): next})) }}{% endif %}">Next&nbsp;&gt;</a>
        <a class="last" href="{% if last is defined %}{{ path(route, query|merge({(pageParameterName): last})) }}{% endif %}">Last&nbsp;&gt;&gt;</a>
    </div>
{% endif %}