{% if type == "driver-results" %}
    <div class="list-entry centered head" style="font-style:italic;">
        <div>Name</div>
        <div>Version</div>
        <div>Last edited</div>
        <div>Media type</div>
        <div>Size</div>
        <div>File name</div>
    </div>
    {% for driver in entity %}
        <div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
            <div class="header-label">Name</div>
            <div><a class="result-link" href="{{ path("driver_show", {id: driver.getId()}) }}">{{ driver.getName() }}</a></div>
            <div class="header-label">Version</div>
            <div>{{ driver.getFileVersion() ? driver.getFileVersion() : 'Unknown' }}</div>
            <div class="header-label">Last edited</div>
            <div id="index-datetime" data-controller="datetime"><div class="div-datetime" style="padding:0;"><span class="perk-date">{{ driver.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
            <div class="header-label">Media type</div>
            <div style="display: flex;align-items: center;">{% for relation in driver.getMediaTypeFlags() %}
                <i style="vertical-align:super;">{{relation.getCount()}}x</i>
				<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" style="padding-left: 5px;" alt="{{relation.getMediaTypeFlag().getName()}}" title="{{relation.getMediaTypeFlag().getName()}}" width="32">{% if not loop.last %}, {% endif %}
			{% endfor %}</div>
            <div class="header-label">Size</div>
            <div>
            {% if driver.getSize() %}
					{% if driver.getSize() > 1048575 %}{{ (driver.getSize() / 1048576)|number_format(2) }}&nbsp;MB
					{% elseif driver.getSize() > 1023 %}{{ (driver.getSize() / 1024)|number_format(2)}}&nbsp;KB
					{% else %}{{ driver.getSize()}}&nbsp;Bytes{% endif %}
			{% endif %}
            </div>
            <div class="header-label">File name</div>
            <div><a href="{{ vich_uploader_asset(driver, 'file')}}">
				<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" style="vertical-align: middle;">{% set fname = driver.getFileName()|slice(0,driver.getFileName()|length - 27) ~ driver.getFileName()[driver.getFileName()|length - 4 :] %}{{ fname }}</a>
			</div>
        </div>
    {% endfor %}
{% endif %}
{% if type == "chipset-results" %}
    <div class="list-entry centered head" style="font-style:italic;">
		<div>Name</div>
		<div>Parts</div>
		<div>Aliases</div>
        <div>Release date</div>
	</div>
	{% for chipset in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}{% if chipset.getChipsetParts() is empty %} nows{% endif %}">
		<div class="header-label">Name</div>
		<div><a class="result-link" href="{{ path("chipset_show", {id: chipset.getId()}) }}">{{ chipset.getFullName() }}</a></div>
		<div class="header-label">Parts</div>
		<div>{% for chipPart in chipset.getChipsetParts() %}
			<span class="text-block" style="margin-right: 5px;">{{ chipPart.getFullName() }}</span>
		{% endfor %}</div>
		<div class="header-label">Aliases</div>
		<div>{% if chipset.getChipsetAliases() is not empty %}
			{% for alias in chipset.getChipsetAliases() %}
				<span>{{ alias.getFullAliasName() }}{% if not loop.last %} |{% endif %}</span>
			{% endfor %}
		{% endif %}</div>
        <div class="header-label">Release date</div>
		<div>{{ chipset.getReleaseDate() }}</div>
	</div>
	{% endfor %}
{% endif %}
{% if type == "cpu-results" %}
    <div class="list-entry centered head" style="font-style:italic;">
		<div>Name</div>
		<div>Family</div>
        <div>Speed/FSB</div>
        <div>Package</div>
		<div>Voltage</div>
        <div>TDP</div>
        <div>Process node</div>
	</div>
	{% for cpu in entity %}
	<div class="list-entry centered bios {% if loop.index is divisible by(2) %}alt{% endif %}">
		<div class="header-label">Name</div>
		<div>
			<a class="result-link" href="{{ path("processor_show", {id: cpu.getId()}) }}">{{ cpu.getNameWithManufacturer() }}</a>
			{% if cpu.getChipAliases() is not empty %}
				<button class='alias-collapsible'>View aliases</button>
				<div class="cpu-aliases-box">
				{% for alias in cpu.getChipAliases() %}
					<div style="padding:4px 4px;">{{ alias.getFullAliasName() }}</div>
				{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="header-label">Family</div>
		<div>{{ cpu.getPlatform() ? cpu.getPlatform().getName() : 'Unknown' }}</div>
        <div class="header-label">Speed/FSB</div>
        {% if cpu.getSpeed != cpu.getFsb() %}
            <div>{{ cpu.getSpeed().getValueWithUnit() }}/{{ cpu.getFsb().getValueWithUnit() }}</div>
        {% else %}
            <div>{{ cpu.getSpeed().getValueWithUnit() }}</div>
        {% endif %}
        <div class="header-label">Package</div>
        {% if cpu.getSockets() is not empty %}
		<div class="tag-container">
			{% for socket in cpu.getSockets() %}<span class="text-block">{{ socket.getNameAndType}}</span>{% endfor %}
		</div>
		{% else %}
		<div>Unknown</div>
		{% endif %}
		<div class="header-label">Voltage</div>
		{% if cpu.getVoltages() is not empty %}
		<div class="tag-container">
			{% for voltage in cpu.getVoltages() %}<span class="text-block">{{ voltage.getValueWithUnit()}}</span>{% endfor %}
		</div>
		{% else %}
		<div>Unknown</div>
		{% endif %}
        <div class="header-label">TDP</div>
		<div>{{ cpu.getTdpWithValue() ? cpu.getTdpWithValue() : 'Unknown' }}</div>
        <div class="header-label">Process node</div>
		<div>{{ cpu.getProcessNodeWithValue() ? cpu.getProcessNodeWithValue() : 'Unknown' }}</div>
	</div>
	{% endfor %}
{% endif %}