{% extends 'base.html.twig' %}

{% block title %}Manage large files{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST', 'attr':{'data-controller':'largefile--add'}}) }}
<div class="title">Driver editor
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="errors-div" id="errors-message"><ul>
</ul></div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('large_file_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div class="main-strip">
	<div class="internal-container">
		<div class="internal-content">
			<div style="display:flex;flex-wrap: wrap;padding:5px 10px 5px 5px;">
				<div style="flex-grow:2;">
					<progress hidden="true" id="progressBar"></progress>
					<table>
						<tr id="messageRow" hidden="true">
							<td>
								<label for="message">Message</label>
							</td>
							<td>
								<span id="message"></span>
							</td>
						</tr>
						<tr>
							<td>Name</td>
							<td>{{form_widget(form.name)}}</td>
						</tr>
						<tr>
							<td>Version</td>
							<td>{{form_widget(form.fileVersion)}}</td>
						</tr>
						<tr>
							<td>File name</td>
							<td>{{form_widget(form.file_name)}}</td>
						</tr>
						<tr>
							<td>File</td>
							<td>{{form_widget(form.file)}}</td>
						</tr>
						<tr>
							<td>Subdirectory</td>
							<td>{{form_widget(form.subdirectory)|replace({'<option value="drivers">': '<option selected="selected" value="drivers">'})|raw }}</td>
						</tr>
						<tr>
							<td>File quality flag</td>
							<td>{{form_widget(form.dumpQualityFlag)|replace({'<option value="5">': '<option selected="selected" value="5">'})|raw }}</td>
						</tr>
						<tr>
							<td>Release date</td>
							<td>
								<div id="large_file_form_releaseDate">
								{% if form.vars.value.releaseDate is null  %}
									<input type="number" style='width:17%;' id="large_file_form_releaseDate_year_mock" required="required" min=1970 max=9999 placeholder='YYYY' >
									-
									<input type="number" id="large_file_form_releaseDate_month_mock" min=1 max=12 placeholder='MM'>
									-
									<input type="number" id="large_file_form_releaseDate_day_mock" min=1 max=31 placeholder='DD'>
								{% else %}
									<input type="number" style='width:17%;' id="large_file_form_releaseDate_year_mock" required="required" min=1970 max=9999 placeholder='YYYY' value={{form.vars.value.releaseDate | date('Y')}} >
									-
									<input type="number" id="large_file_form_releaseDate_month_mock" min=1 max=12 placeholder='MM' value={{(form.vars.value.datePrecision == 'm' or form.vars.value.datePrecision == 'd') ? (form.vars.value.releaseDate | date('m')): ''}}>
									-
									<input type="number" id="large_file_form_releaseDate_day_mock" min=1 max=31 placeholder='DD' value={{(form.vars.value.datePrecision == 'd') ? (form.vars.value.releaseDate | date('d')) :''}}>
								{% endif %}
								</div>
							</td>
							<td hidden>{{form_widget(form.releaseDate)}}</td>
						</tr>
						<tr hidden>
							<td>Date precision</td>
							<td>{{form_widget(form.datePrecision)}}</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">Languages:
								<div data-controller="collection">
									{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'languages'} %}
								</div>
							</td>
							<td>
								<div class="quick-spec-table" data-controller="collection">
									<div id="languages-fields-list" style="min-width:18em;" data-widget-counter="{{ form.languages|length }}" data-prototype="{{ form_widget(form.languages.vars.prototype, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="1">': '<option selected="selected" value="1">'})|raw|e }} 
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
										{% if form.languages is not empty %}
											{% for language in form.languages %}
												<div class="editor-row nopad">
													{{ form_widget(language, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="">': '<option label=" " value="">'})|raw }}
													{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
												</div>
												{{ form_errors(language) }}
											{% endfor %}
										{% endif %}
										{{ form_errors(form.languages) }}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">Media type flags:
								<div data-controller="collection">
									{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'mediaTypeFlags'} %}
								</div>
							</td>
							<td>
								<div class="quick-spec-table" data-controller="collection">
									<div id="mediaTypeFlags-fields-list" style="min-width:24em;" data-widget-counter="{{ form.mediaTypeFlags|length }}" data-prototype="
									{{ form_widget(form.mediaTypeFlags.vars.prototype.count, {'attr': {'style': 'display:inline-block;width:1em;'}})|e }}x{{ form_widget(form.mediaTypeFlags.vars.prototype.mediaTypeFlag, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="11">': '<option selected="selected" value="11">'})|raw|e }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
										{% if form.mediaTypeFlags is not empty %}
											{% for flag in form.mediaTypeFlags %}
												<div class="editor-row nopad">
													{{ form_widget(flag.count, {'attr': {'style': 'display:inline-block;width:1em;'}}) }}x{{ form_widget(flag.mediaTypeFlag, {'attr': {'style': 'display:inline-block;'}}) }}
													{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
												</div>
												{{ form_errors(flag) }}
											{% endfor %}
										{% endif %}
										{{ form_errors(form.mediaTypeFlags) }}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">OS flags:
								<div data-controller="collection">
									{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'osFlags'} %}
								</div>
							</td>
							<td>
								<div>
									{#% include 'macros/entityList.html.twig' with {'entityName':'osFlags', 'entityDisplayName': 'os flag', 'entities':form.osFlags} %#}
								</div>
								<div class="quick-spec-table" data-controller="collection">
									<div id="osFlags-fields-list" style="min-width:28em;" data-widget-counter="{{ form.osFlags|length }}" data-prototype="
									{{ form_widget(form.osFlags.vars.prototype, {'attr': {'style': 'display:inline-block;'}})|replace({'<option value="49">': '<option selected="selected" value="49">'})|raw|e }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
										{% if form.osFlags is not empty %}
											{% for flag in form.osFlags %}
												<div class="editor-row nopad">
													{{ form_widget(flag, {'attr': {'style': 'display:inline-block;'}}) }}
													{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
												</div>
												{{ form_errors(flag) }}
											{% endfor %}
										{% endif %}
										{{ form_errors(form.osFlags) }}
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div style="flex-grow:10;">
					{{form_widget(form.note, {'attr': {'style': 'height:max(300px,60vh);width:100%;', 'placeholder': 'Describe the driver (max. 2048 characters) ...'}}) }}
				</div>
			</div>
		</div>
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save, {'attr':{'data-action':'click->largefile--add#submit_try'}})}}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
