{% extends 'base.html.twig' %}

{% block title %}Manage CPU sockets{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
<div class="title">Edit:&nbsp;CPU Socket
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('cpu_socket_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div style="margin:0 auto;display:table;">
	<table>
        <tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.type)}}</td>
			<td>{{form_widget(form.type)}}</td>
		</tr>
	</table>
	<div style="display:table;margin:0 auto;text-align:center;">
		{% include 'macros/entityList.html.twig' with {'entityName':'platforms', 'label': 'Platforms:', 'entities':form.platforms} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
