{% extends 'base.html.twig' %}

{% block title %}Delete motherboard - TRW{% endblock %}

{% block body %}
	<div class="title">Delete: {{ motherboard.getManufacturerShortNameIfExist }} {{motherboard.getName}}</div>
	<div style="display:table;margin:0 auto;padding-top:25px;">
		<div style="display:table;margin:0 auto;padding-top:25px;">
			<b>Are you sure you want to delete this motherboard ?</b>
		</div>
		<div style="display:table;margin:0 auto;padding-top:25px;">
			<a class="button" onclick="document.getElementById('form_Yes').click();" style="display:inline-block;">
				<img src="{{ absolute_url(asset('build/icons/tick.svg')) }}" alt="" width="24">Yes</a>&nbsp;
			<a class="button" onclick="document.getElementById('form_No').click();" style="display:inline-block;">
				<img src="{{ absolute_url(asset('build/icons/delete.svg')) }}" alt="" width="24">No</a>
		</div>
	{{ form_start(form, {'method': 'POST'}) }}
		<div style="display:table;margin:0 auto;padding-top:25px;">
			<b>Redirection:&nbsp;</b>{{form_widget(form.Redirection)}}
		</div>
	</div>
	<div style="display: none;">{{form_widget(form.Yes)}}{{form_widget(form.No)}}{{ form_end(form)}}</div>
{% endblock %}