{% extends 'base.html.twig' %}

{% if letter %}{% set ltr = letter %}{% else %}{% set ltr = "?" %}{% endif %}
{% block title %}Index: {{ltr}} - TRW{% endblock %}
{% block metatags %}
	<meta name="description" content="Search for a motherboard by name, chipset, manufacturer, CPU family, form factor, expansion slot count and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('moboindex', {letter: ltr })) }}"/>
{% endblock %}

{% block body %}
	<div class="title">{{'Index'|trans}}: {{ltr}}</div>
	{% if motherboards is not empty %}
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
		<div class="plain-list">
			{% for motherboard in motherboards %}
				<div class="list-entry">
					<a href='{{ path("motherboard_show", {id: motherboard["id"]}) }}'>{{ motherboard["manName"]}}&nbsp;{{motherboard["name"]}}</a>
				</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
	{% else %}
		<p style="text-align:center;padding-top:10px;">
			<i>{{ 'motherboard.num'|trans({'count':0}) }}</i>
		</p>
	{% endif %}
{% endblock %}
