{% extends 'base.html.twig' %}

{% block title %}Manage frequency{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
<div class="title">Edit:&nbsp;Frequency
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('cpu_speed_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div style="margin:0 auto;display:table;">
	<table>
		<tr>
			<td>{{form_label(form.value)}}</td>
			<td>{{form_widget(form.value)}}</td>
		</tr>
	</table>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}