{% extends 'base.html.twig' %}

{% block title %}Manage known issues{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
<div class="title">Edit:&nbsp;Known Issue
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('known_issue_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div style="margin:0 auto;display:flex;flex-direction:row;justify-content: center;">
	<div style="padding:5px;">{{form_label(form.name)}}</div>
	<div>{{form_widget(form.name, {'attr': {'style': 'min-width:17em;width:auto;'}})}}</div>
</div>
<div style="margin:0 auto;display:flex;">{{form_widget(form.description, {'attr': {'style': 'width:100%;height:20em;'}})}}</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}