{% extends 'base.html.twig' %}

{% block title %}Manage manufacturers{% endblock %}

{% block body %}
{{ form_start(form, {'method': 'POST'}) }}
<div class="title">Edit:&nbsp;Manufacturer
	{% if form.vars.errors.form.getErrors(true) is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
</div>
<div class="toolbar">
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('manufacturer_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
<div style="width:100%;">
	<table style="display:table;margin:0 auto;">
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.shortName)}}</td>
			<td>{{form_widget(form.shortName, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
		<tr>
			<td>FCC ID</td>
			<td>{{form_widget(form.fccid, {'attr': {'style': 'width:17em'}})}}</td>
		</tr>
	</table>
	<div style="display:table;margin:0 auto;text-align:center;">
		<!-- PCI VEN -->
		{% include 'admin/macros/widget.html.twig' with {'type':'pciven', 'entity':form.pciVendorIds} %}
		<!-- BIOS codes -->
		{% include 'macros/entityList.html.twig' with {'entityName':'biosCodes', 'label': 'BIOS codes:', 'entities':form.biosCodes} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
