{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}Search drivers - TRW{% endblock %}


{% block metatags %}
	<meta name="description" content="Search for a driver by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('driver_search')) }}"/>
{% endblock %}
{% block body %}

	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search_driver', 'action':path("driver_search"), 'attr':{'data-controller':'search'}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for: drivers/software</div>
		<div class="index-title">
			List by first letter:<br>
		</div>
		<div class="index-list">
			{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
				<a class="index-letter" href="{{path("driverindex", {"letter":letter})}}">{{letter}}</a>
			{% endfor %}
		</div>
		<section>
			<h4 hidden>Search navigation</h4>
			<div class="toolbar">
				<button type="button" onclick="document.getElementById('search_search').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/search.svg')) }}" alt="imgsearch" width="24" height="24">
					<span>Search</span>
				</button>
				{{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
			</div>
		</section>
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name" title="This is where you enter the driver name, version or file name.">
					<span>Name</span>
					<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget" style="display: flex;flex-direction: row;">
					<div>{{ form_widget(form.name) }}</div>
				</div>
			</div>
		</section>
	</fieldset>
	{% if latestDrivers is not empty %}
		<div class="results lst">
			<div class="plain-list w300p perks table">
				<p><b>Recently added and updated drivers</b></p>
				{% include 'macros/widget.html.twig' with {'type':'driver-results', 'entity': latestDrivers} %}
			</div>
		</div>
	{% endif %}
	<div>{{ form_rest(form)}}</div>
</form>{% endblock %}
