<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Manufacturer</div>
    <div>{{object.getManufacturer().getShortNameIfExist()}}</div>

    <div class="header-label">Part number</div>
    <div>{{object.getPartNumber()|length > 0 ? object.getPartNumber()}}</div>

    <div class="header-label">Name</div>
    <div>{{object.getName()|length > 0 ? object.getName()}}</div>

    <div class="header-label">Type</div>
    <div>{{object.getType().getName()}}</div>

    <div class="header-label">PCI DEV</div>
    <div>{% if object.getPciDevs() is not empty %}
        {% for id in object.getPciDevs() %}{{ id.getDev() }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
    </div>

    <div class="header-label">Documentation</div>
    <div>{% if object.getDocumentations() is not empty %}[✓]{% endif %}</div>

    <div class="header-label">Images</div>
    <div>{% if object.getImages() is not empty %}[✓]{% endif %}</div>

    <div class="header-label">Drivers</div>
    <div>{% if object.getDrivers() is not empty %}[✓]{% endif %}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin" style="display:flex;flex-wrap: nowrap;">
        <a class="button" href="{{ path("expansion_chip_show", {id: object.getId()}) }}">
            <img src="{{ absolute_url(asset('build/icons/search/search_image.svg')) }}" alt="" width="20">
            <span>View</span>
        </a>
        <a class="button" href="./expansionchipsets/expansionchips/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>	