{% extends 'base.html.twig' %}

{% block title %}Manage {{ entityDisplayNamePlural }}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'connectors',
		'path':'connectors', 
		'set':{'expansion':'Expansion Slots','io':'I/O Ports','socket':'Sockets','psuconnector':'PSU connectors'}
	} %}
{% endblock %}
