<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">

    <div class="header-label">Name</div>
    <div>{{object.getName()|length > 0 ? object.getName()}}</div>

    <div class="header-label">Type</div>
    <div>{{object.getType()|length > 0 ? object.getType()}}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./connectors/sockets/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20"><span>Edit</span></a>
    </div>
</div>	