{% extends 'base.html.twig' %}

{% block title %}Manage {{ entityDisplayNamePlural }}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'chipsets',
		'path':'chipsets', 
		'set':{'chipset':'Chipsets','part':'Chipset parts'}
	} %}
{% endblock %}
