<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Manufacturer</div>
    <div>{{object.getManufacturer().getShortNameIfExist()}}</div>

    <div class="header-label">Part number</div>
    <div>{{object.getPartNumber()}}</div>

    <div class="header-label">Name</div>
    <div>{{ object.getName() ? object.getName() }}</div>

    <div class="header-label">PCI DEV</div>
    <div>{% if object.getPciDevs() is not empty %}
        {% for id in object.getPciDevs() %}{{ id.getDev() }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
    </div>

    <div class="header-label">Rank</div>
    <div>{{object.getRank()}}</div>

    <div class="header-label">Documentation</div>
    <div>{% if object.getDocumentations() is not empty %}[✓]{% endif %}</div>

    <div class="header-label">Images</div>
    <div>{% if object.getImages() is not empty %}[✓]{% endif %}</div>


    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./chipsets/parts/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>