{% extends 'base.html.twig' %}

{% block title %}Add/Edit motherboard{% endblock %}
{% block body %}
<form data-controller="motherboard--add" name="add_motherboard" method="post" enctype="multipart/form-data" data-action="submit->motherboard--add#check">
	<div class="title">Motherboard editor
	{% if form.vars.errors.form.getErrors(true) is not empty or slugError is not empty %}
		{% include 'admin/macros/error.html.twig' with {'entity':form.vars.errors.form} %}
	{% endif %}
	</div>
	<!-- MANUF/TITLE -->
	<section class="search-form-grid">
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Manufacturer</label>
				<div id="manufacturer-select">{{ form_widget(form.manufacturer, {'attr': {'style': 'display:none;'}}) }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Name</label>
				<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name ...'}}) }}</div>
			</div>
		</div>
		<div class="search-form-entry">
			<div class="search-form-widget">
				<label class="search-form-label">Slug</label>
				<div>{{ form_widget(form.slug, {'attr': {'placeholder': 'Slug ...'}}) }}</div>
			</div>
		</div>
	</section>
	<div class="toolbar" data-controller="show">
		<button type="button" name="tabs" id="tab-nav-save" data-action="click->motherboard--add#submit"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
		{% if is_granted('ROLE_ADMIN') and moboid is not null %}
			<button type="button" name="tabs0" id="tab-nav-del" data-action='click->show#goToDelete'><img src="{{ absolute_url(asset('build/icons/delete.svg')) }}" alt="" width="24" height="24"><span>Delete</span></button>
			<button type="button" name="tabs" id="tab-nav-clone" data-action="click->motherboard--add#clone"><img src="{{ absolute_url(asset('build/icons/clone.svg')) }}" alt="" width="24" height="24"><span>Clone</span></button>
		{% endif %}
		<button type="button" name="tabs" id="tab-nav-getslug" data-action="click->motherboard--add#getslug"><img src="{{ absolute_url(asset('build/icons/clone.svg')) }}" alt="" width="24" height="24"><span>Get slug</span></button>		
	</div>
	<div class="main-strip">
		<div class="internal-container">
			{% include 'macros/navbar.html.twig' with {'type':'edit', 'entityName': 'motherboard', 'count':4, 'moboid':moboid} %}
			<!-- GENERAL -->
			<div class="internal-content">
				<div class="show-general" id="sh-general">
					<!-- Aliases -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor editor"><div>Alternative names</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardAliases'} %}</div>
						<div class="append_table" id="motherboardAliases-fields-list" data-widget-counter="{{ form.motherboardAliases|length }}"
							data-prototype="
								{{ form_widget(form.motherboardAliases.vars.prototype.manufacturer)|replace({'</select>': '<option value="EMPTY" disabled selected hidden>Select manufacturer</option></select>'})|raw|e }}
								{{ form_widget(form.motherboardAliases.vars.prototype.name, {'attr': {'placeholder': 'Name'}} )|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for alias in form.motherboardAliases %}
								<div class="editor-row nopad">
									{{ form_widget(alias.manufacturer)|replace({'<option value="">': '<option label=" " value="">'})|raw }}
									{{ form_widget(alias.name) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(alias) }}
								</div>
							{% endfor %}
						</div>
					</div><!-- Redirections -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>Redirections</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'redirections'} %}</div>
						<div class="append_table" id="redirections-fields-list" data-widget-counter="{{ form.redirections|length }}"
							data-prototype="
								{{ form_widget(form.redirections.vars.prototype.source, {'attr': {'placeholder': 'Source identifier'}})|e }}
								{{ form_widget(form.redirections.vars.prototype.sourceType)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for redirection in form.redirections %}
								<div class="editor-row nopad">
									{{ form_widget(redirection.source) }}
									{{ form_widget(redirection.sourceType) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(redirection) }}
								</div>
							{% endfor %}
						</div>
					</div><hr><!-- Max system RAM -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>Max system RAM</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardMaxRams'} %}</div>
						<div class="append_table" id="motherboardMaxRams-fields-list" data-controller="collection" data-widget-counter="{{ form.motherboardMaxRams|length }}" data-prototype="
								{{ form_widget(form.motherboardMaxRams.vars.prototype.max_ram, {'attr': {'style': 'width:20%'}})|e }}
								{{ form_widget(form.motherboardMaxRams.vars.prototype.note)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for maxRam in form.motherboardMaxRams %}
								<div class="editor-row nopad">
									{{ form_widget(maxRam.max_ram, {'attr': {'style': 'width:20%'}}) }}
									{{ form_widget(maxRam.note) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(maxRam) }}
								</div>
							{% endfor %}
						</div>
					</div><!-- Supported RAM types -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>Supported RAM types:</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'dramType'} %}</div>
						<div class="append_table" id="dramType-fields-list" data-controller="collection" data-widget-counter="{{ form.dramType|length }}" data-prototype="
								{{ form_widget(form.dramType.vars.prototype, {'attr': {'style': 'width:30%'}})|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">

							{% for ramtype in form.dramType %}
								<div class="editor-row nopad">
									{{ form_widget(ramtype, {'attr': {'style': 'width:30%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(ramtype) }}
								</div>
							{% endfor %}
						</div>
					</div><!-- Cache -->
					<div class="quick-spec-table nopad" data-controller="collection">
						<div class="quick-spec-head editor"><div>Cache</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cacheSize'} %}</div>
						<div class="append_table" id="cacheSize-fields-list" data-controller="collection" data-widget-counter="{{ form.cacheSize|length }}" data-prototype="
								{{ form_widget(form.cacheSize.vars.prototype, {'attr': {'style': 'width:20%'}})|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for size in form.cacheSize %}
								<div class="editor-row nopad">
									{{ form_widget(size, {'attr': {'style': 'width:20%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(size) }}
								</div>
							{% endfor %}
						</div>
					</div><hr><!-- PSU connectors -->
					<div class="quick-spec-table" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>PSU connectors</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'psuConnectors'} %}</div>
						<div class="append_table" id="psuConnectors-fields-list" data-widget-counter="{{ form.psuConnectors|length }}"
							data-prototype="
								{{ form_widget(form.psuConnectors.vars.prototype)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for psuconn in form.psuConnectors %}
								<div class="editor-row nopad">
									{{ form_widget(psuconn) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(psuconn) }}
								</div>
							{% endfor %}
						</div>
					</div><!-- Form factor -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Form factor</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.formFactor)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><!-- Dimensions -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Dimensions</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.dimensions) }}</div>
						</div></div>
					</div><!-- Exp. slots and I/O ports -->
					<div class="full-spec edit">
						<div class="full-spec-head" data-controller="collection"><b>I/O ports: </b>{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardIoPorts'} %}</div>
						<div id="motherboardIoPorts-fields-list" data-widget-counter="{{ form.motherboardIoPorts|length }}" data-prototype="
							{{ form_widget(form.motherboardIoPorts.vars.prototype.count, {'attr': {'class': 'num'}} )|e }} x
							{{ form_widget(form.motherboardIoPorts.vars.prototype.io_port, {'attr': {'style': 'width:50%'}} )|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for port in form.motherboardIoPorts %}
								<div class="editor-row nopad">
									{{ form_widget(port.count, {'attr': {'class': 'num'}}) }} x
									{{ form_widget(port.io_port, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(port) }}
							{% endfor %}
						</div>
						<div class="full-spec-head" data-controller="collection"><b>Expansion slots: </b>{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardExpansionSlots'} %}</div>
						<div id="motherboardExpansionSlots-fields-list" data-widget-counter="{{ form.motherboardExpansionSlots|length }}" data-prototype="
							{{ form_widget(form.motherboardExpansionSlots.vars.prototype.count, {'attr': {'class': 'num'}} )|e }} x
							{{ form_widget(form.motherboardExpansionSlots.vars.prototype.expansion_slot, {'attr': {'style': 'width:50%;display:inline'}} )|e  }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for slot in form.motherboardExpansionSlots %}
								<div class="editor-row nopad">
									{{ form_widget(slot.count, {'attr': {'class': 'num'}}) }} x
									{{ form_widget(slot.expansion_slot, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(slot) }}
							{% endfor %}
						</div>
					</div><hr><!-- Known issues -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>Known issues:</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'knownIssues'} %}</div>
						<div id="knownIssues-fields-list" data-widget-counter="{{ form.knownIssues|length }}" data-prototype="
							{{ form_widget(form.knownIssues.vars.prototype, {'attr': {'style': 'width:80%'}} )|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							" data-controller="collection">
							{% for issue in form.knownIssues %}
								<div class="editor-row nopad">
									{{ form_widget(issue, {'attr': {'style': 'width:80%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
								</div>
								{{ form_errors(issue) }}
							{% endfor %}
						</div>
					</div><!-- Notes -->
					<span style="padding-left:10px;"><b>Notes</b></span>
					<div class="notes-field">{{ form_row(form.note) }}</div>		
				</div>
				<!-- Chips -->
				<div class="show-expchips" id="sh-expchips">
					<!-- Chipset -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Chipset</div>
						<div class="editor-row nopad"><div class="editor-form-widget chip">
							<div id="mobo-chipset-select">{{ form_widget(form.chipset)|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div><hr><!-- Expansion chips -->
					<div class="quick-spec-table expchip" data-controller="collection" style="padding:0;">
						<div class="quick-spec-head editor"><div>Expansion chipset</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'expansionChips'} %}</div>
						<div class="append_table" id="expansionChips-fields-list" data-widget-counter="{{ form.expansionChips|length }}"
							data-prototype="
								{{ form_widget(form.expansionChips.vars.prototype)|e }}
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
							</div>" data-controller="collection">
							{% for expchip in form.expansionChips %}
								<div class="editor-row nopad">
									{{ form_widget(expchip) }}
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(expchip) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<hr><!-- Max video RAM -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Max video RAM</div>
						<div class="editor-row nopad"><div class="editor-form-widget">
							<div>{{ form_widget(form.maxVideoRam, {'attr': {'style': 'width:15em'}})|replace({'<option value="">': '<option label=" " value="">'})|raw }}</div>
						</div></div>
					</div>
				</div>
				<!-- DOWNLOADS -->
				<div class="show-downloads" id="sh-downloads">
					<!-- Drivers -->
					{% include 'admin/macros/widget.html.twig' with {'type':'drivers', 'entity':form.drivers} %}
					<!-- BIOSes -->
					<div data-controller="collection" style="padding-bottom: 20px;max-width: 1300px;">
						<div style="padding-top:10px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/chip.svg')) }}" alt="" width="32" style="padding: 5px;">
							<i>BIOS images: </i>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'motherboardBios'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row bios-main">
								<div><b>Manuf.</b></div>
								<div><b>POST String</b></div>
								<div><b>Note</b></div>
								<div><b>BIOS Ver.</b></div>
								<div><b>Core Ver.</b></div>
							</div>
							<div class="append_table" id="motherboardBios-fields-list" data-widget-counter="{{ form.motherboardBios|length }}" data-prototype="
								<div class='editor-row bios-main nopad'>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.manufacturer, {'attr': {'style': 'position:absolute;clip:rect(0 0 0 0);'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.postString, {'attr': {'style': 'width:100%', 'placeholder': 'POST string ...'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.note, {'attr': {'style': 'width:100%', 'placeholder': 'Note ...'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.boardVersion, {'attr': {'style': 'width:100%', 'placeholder': 'BIOS ver ...'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.coreVersion, {'attr': {'style': 'width:100%', 'placeholder': 'Core ver ...'}} )|e }}</div>
								</div><div class='editor-row bios-file nopad'>
								<div>Files:</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.romFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.motherboardBios.vars.prototype.file_name, {'attr': {'style': 'width:100%', 'placeholder': 'No file uploaded!'}} )|e }}</div>
								<div></div>{% include 'macros/buttons.html.twig' with {'type':'del', 'count':- 1} %}</div>
								">
							{% for bios in form.motherboardBios %}
							<div class="bios-image-container">
								<div class="editor-row bios-main nopad">
									<div>{{ form_widget(bios.manufacturer, {'attr': {'style': 'position:absolute;clip:rect(0 0 0 0);'}}) }}</div>
									<div>{{ form_widget(bios.postString, {'attr': {'style': 'width:100%', 'placeholder': 'POST string ...'}}) }}</div>
									<div>{{ form_widget(bios.note, {'attr': {'style': 'width:100%', 'placeholder': 'Note ...'}}) }}</div>
									<div>{{ form_widget(bios.boardVersion, {'attr': {'style': 'width:100%', 'placeholder': 'BIOS ver ...'}}) }}</div>
									<div>{{ form_widget(bios.coreVersion, {'attr': {'style': 'width:100%', 'placeholder': 'Core ver ...'}}) }}</div>
								</div>
								<div class="editor-row bios-file nopad">
									<div>Files:</div>
									<div>{{ form_widget(bios.romFile, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(bios.file_name, {'attr': {'style': 'width:100%', 'placeholder': 'No file uploaded!'}}) }}</div>
									<div></div>
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':- 1} %}
								</div>
								{{ form_errors(bios) }}
							</div>
							{% endfor %}
							</div>
						</div>
					</div>
					<!-- Manuals -->
					{% include 'admin/macros/widget.html.twig' with {'type':'docs', 'entity':form.manuals} %}
					<!-- Misc files -->
					<div data-controller="collection" style="padding-bottom: 20px;max-width: 1300px;">
						<div style="padding-top:10px;display: flex;align-items: center;">
							<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="padding: 5px;">
							<i>Misc files:</i>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'miscfile'} %}
						</div>
						<div class="bios-image">
							<div class="bios-image-head editor-row miscfile">
								<div><b>Title</b></div>
								<div><b>File to upload</b></div>
								<div><b>Uploaded file</b></div>
							</div>
							<div id="miscfile-fields-list" data-widget-counter="{{ form.miscFiles|length }}" data-prototype="
								<div>{{ form_widget(form.miscFiles.vars.prototype.link_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.miscFiles.vars.prototype.miscFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
								<div>{{ form_widget(form.miscFiles.vars.prototype.file_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
								{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
							{% for miscfile in form.miscFiles %}
								<div class="editor-row miscfile nopad">
									<div>{{ form_widget(miscfile.link_name, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(miscfile.miscFile, {'attr': {'style': 'width:100%'}}) }}</div>
									<div>{{ form_widget(miscfile.file_name, {'attr': {'style': 'width:100%'}}) }}</div>
									{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									{{ form_errors(miscfile) }}
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!-- CPUs -->
				<div class="show-cpus" id="sh-cpus"><!-- CPU sockets -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>CPU sockets (1st)</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cpuSockets'} %}</div>
						<div id="cpuSockets-fields-list" data-widget-counter="{{ form.cpuSockets|length }}" data-prototype="
							{{ form_widget(form.cpuSockets.vars.prototype, {'attr': {'style': 'width:50%;max-width:220px'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for cpuSocket in form.cpuSockets %}
									<div class="editor-row nopad">{{ form_widget(cpuSocket, {'attr': {'style': 'width:50%;max-width:220px'}}) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
										{{ form_errors(cpuSocket) }}
									</div>
								{% endfor %}
						</div>
					</div><hr><!-- CPU platforms -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>CPU platforms (2nd)</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'processorPlatformTypes'} %}</div>
						<div id="processorPlatformTypes-fields-list" data-widget-counter="{{ form.processorPlatformTypes|length }}" data-prototype="
							{{ form_widget(form.processorPlatformTypes.vars.prototype)|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for platform in form.processorPlatformTypes %}
									<div class="editor-row nopad">{{ form_widget(platform) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
										{{ form_errors(platform)|replace({'This value is not valid': 'A platform was incompatible with one of the sockets, reselect'})|raw }}
									</div>
								{% endfor %}
						</div>
					</div><hr><!-- FSB speeds -->
					<div class="quick-spec-table" data-controller="collection">
						<div class="quick-spec-head editor"><div>FSB speed (3rd)</div>
						{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'cpuSpeed'} %}</div>
						<div style="width:100%" id="cpuSpeed-fields-list" data-widget-counter="{{ form.cpuSpeed|length }}" data-prototype="
							{{ form_widget(form.cpuSpeed.vars.prototype, {'attr': {'style': 'width:30%'}})|e }} {% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}">
								{% for speed in form.cpuSpeed %}
									<div class="editor-row nopad">{{ form_widget(speed, {'attr': {'style': 'width:30%'}}) }}
										{% include 'macros/buttons.html.twig' with {'type':'del', 'count':1} %}
									</div>
									{{ form_errors(speed) }}
							{% endfor %}
						</div>
					</div><hr><!-- Max CPUs -->
					<div class="quick-spec-table" style="padding:0;">
						<div class="quick-spec-head editor">Socket count</div>
						<div class="editor-row" style="padding:0;display:flex">
							{{ form_widget(form.maxCpu, {'attr': {'style': 'width:25px'}}) }}
								{{ form_widget(form.updateProcessors, {'attr': {'data-action':'click->motherboard--add#updateProcessors', 'style': 'display:inline-block;'}}) }}
						</div>
					</div>
					<div id="cpu-wait" style="display:none;">
						<span>Please wait :)</span><img src="{{ absolute_url(asset('build/images/cursor.gif')) }}" alt="" height="24" style="vertical-align: middle;">
					</div>
					<div style="display: none;" >
						{{ form_widget(form.processors) }}
						{{ form_widget(form.coprocessors) }}
					</div>
					<div>
						<div class="cpu-head">
							<div><i>Available CPUs</i></div>
							<div></div>
							<div><i>Selected CPUs</i></div>
						</div>
						<div class="dual-list-container">
							<div class="dual-list-list">
								<select id="unchecked_processors" multiple>
								</select>
							</div>
							<div class="dual-list-buttons">
								<button id="add-all-cpus" data-action="click->motherboard--add#addAllProcessors"><img src="{{absolute_url(asset('build/icons/add.svg'))}}" alt="+" style="vertical-align: middle;padding-right:2px;" width="20"> All</button>
								<button id="add-all-selected-cpus" data-action="click->motherboard--add#addAllSelectedProcessors"><img src="{{absolute_url(asset('build/icons/arrow.svg'))}}" alt=">" style="vertical-align: middle;" width="20"></button>
								<button id="remove-all-selected-cpus" data-action="click->motherboard--add#removeAllSelectedProcessors"><img src="{{absolute_url(asset('build/icons/arrow.svg'))}}" alt="<" style="transform: rotate(180deg);vertical-align: middle;" width="20"></button>
								<button id="remove-all-cpus" data-action="click->motherboard--add#removeAllProcessors"><img src="{{absolute_url(asset('build/icons/remove.svg'))}}" alt="-" style="vertical-align: middle;padding-right:2px;" width="20"> All</button>
							</div>
							<div class="dual-list-list">
								<select id="checked_processors" multiple>
								</select>
							</div>
						</div>
						<div class="cpu-head">
							<div><i>Available NPUs</i></div>
							<div></div>
							<div><i>Selected NPUs</i></div>
						</div>
						<div class="dual-list-container">
							<div class="dual-list-list">
								<select id="unchecked_coprocessors" multiple>
								</select>
							</div>
							<div class="dual-list-buttons">
								<button id="add-all-npus" data-action="click->motherboard--add#addAllCoprocessors"><img src="{{absolute_url(asset('build/icons/add.svg'))}}" alt="+" style="vertical-align: middle;padding-right:2px;" width="20"> All</button>
								<button id="add-all-selected-npus" data-action="click->motherboard--add#addAllSelectedCoprocessors"><img src="{{absolute_url(asset('build/icons/arrow.svg'))}}" alt=">" style="vertical-align: middle;" width="20"></button>
								<button id="remove-all-selected-npus" data-action="click->motherboard--add#removeAllSelectedCoprocessors"><img src="{{absolute_url(asset('build/icons/arrow.svg'))}}" alt="<" style="transform: rotate(180deg);vertical-align: middle;" width="20"></button>
								<button id="remove-all-npus" data-action="click->motherboard--add#removeAllCoprocessors"><img src="{{absolute_url(asset('build/icons/remove.svg'))}}" alt="-" style="vertical-align: middle;padding-right:2px;" width="20"> All</button>
							</div>
							<div class="dual-list-list">
								<select id="checked_coprocessors" multiple>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- IMAGES -->
		{% include 'macros/entityListImages.html.twig' with {'entityName':'images', 'entities':form.images, 'imgpath':'motherboard', 'edit':true} %}
	</div>
	<div style="width:100%;clear:left;"></div>
<div id="hiddenDiv" style="display: none;">{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}
