{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}

{% block title %}{{ chipset.getPrettyTitle() }} - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ chipset.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}"/>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
		<meta name="twitter:card" content="summary">
		<meta property="og:site_name" content="The Retro Web">
		<meta property="og:type" content="website">
		<meta name="twitter:title" content="{{ chipset.getPrettyTitle() }}">
		<meta property="og:title" content="{{ chipset.getPrettyTitle() }}">
		<meta name="twitter:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:description" content="{{ chipset.getMetaDescription() }}">
		<meta property="og:url" content="{{ absolute_url(path('chipset_show', {id: chipset.getId()})) }}">
		{% if chipset.getChipsetParts() is not empty %}
			{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getImages() is not empty)|slice(0,1) %}
				{% for image in chipPart.getImages()|slice(0,1) %}
					<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
					<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
				{% endfor %}
			{% endfor %}
		{% else %}
			<meta name="twitter:image" content="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}">
			<meta property="og:image" content="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}">
		{% endif %}
	{% endapply %}
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ chipset.getFullName() }}</div>
{% if chipset.getChipsetAliases() is not empty %}
<div class="tag-container" style="justify-content:center;padding-bottom:15px">
	<span style="width:100%;text-align:center">Also known as:</span>
	{% for alias in chipset.getChipsetAliases() %}
		<span class="text-block" >{{ alias.getFullAliasName() }}</span>
	{% endfor %}
</div>
{% endif %}

<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'type':'show', 'entity': chipset, 'entityName': 'chipset', 'count':2} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Chipset parts -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/show/chipset.svg')) }}" alt="chip" width="24" height="24">Chipset parts
					</div>
					{% if chipset.getChipsetParts() is not empty %}
					<div class="tag-container">
						{% for part in chipset.getChipsetParts() %}
							<span class="text-block">{{ part.getFullName() }}</span>
						{% endfor %}
					</div>
					{% else %}<div>Unknown</div>{% endif %}
					<!-- Release date -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/show/calendar.svg')) }}" alt="date" width="24" height="24">Release date
					</div>
					<div>{{ chipset.getReleaseDate() ? chipset.getReleaseDate() : 'Unknown' }}</div>
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/show/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					{% if chipset.getEncyclopediaLink() is not null %}
					<a class='button-widget' href="{{ chipset.getEncyclopediaLink() }}">
						<img src='{{ absolute_url(asset('build/icons/show/data.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>Encyclopedia link</a>
					{% endif %}
					<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?chipsetId={{ chipset.getId() }}&amp;showImages=1">
						<img src='{{ absolute_url(asset('build/icons/show/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this chipset</a>
					<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}bios/?chipsetId={{ chipset.getId() }}">
						<img src='{{ absolute_url(asset('build/icons/dw.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all BIOSes for this chipset</a>
					</div>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
				<div style="display:flex">
				<a class="button-widget" style="margin:5px;max-width:100px;" href="{{ path('admin_logs_filter_id_entity', {id: chipset.getId(), entity: 'Chipset'}) }}">
					<img src="{{ absolute_url(asset('build/icons/show/calendar.svg')) }}" alt="" width="24" height="24">History</a></div>
				{% endif %}
				<div class="chipset-textarea">
				{% if chipset.getDescription() is not empty %}
					{% apply markdown_to_html %}{{ chipset.getDescription() }}{% endapply %}
				{% endif %}
				{% if chipset.getChipsetParts() is not empty %}
					<hr>
					<h1>Documented parts</h1>
					<ul class="chipset-toc">
						{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDescription() is not empty) %}
						<li><a href="#{{ chipPart.getShortNamePN() }}">{{ chipPart.getShortName() }}{% if chipPart.getChipAliases() is not empty %}&nbsp;(known as:{% for cp in chipPart.getChipAliases() %}
						{{ cp.getManufacturer().getShortNameIfExist() }}&nbsp;{{ cp.getPartNumber() }} {{ cp.getName() ? '[' ~ cp.getName() ~ ']' }}{% if not loop.last%}, {% endif %}{% endfor %}){% endif %}</a></li>
						{% endfor %}
					</ul>
					{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDescription() is not empty) %}
						<hr><a name="{{ chipPart.getShortNamePN() }}"></a>
						{% apply markdown_to_html %}{{ chipPart.getDescription() }}{% endapply %}
					{% endfor %}
				{% endif %}
				</div>
				<div id="index-datetime" data-controller="datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ chipset.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
			<div class="show-downloads" id="sh-downloads">
				<!-- DRIVERS -->
				<div>
					<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
					<span><i>Drivers: </i></span>
					{% if chipset.getDrivers() is not empty %}
					<span>{{ chipset.getDrivers.count() }}{% if chipset.getDrivers.count() == 1 %} entry{% else %} entries{% endif %}</span>
					<div class="show-table drv">
						<div class="show-downloads-head">{{ driverHeader() }}</div>
						{% for driver in chipset.getDrivers() %}
							<div class="show-table-row">{{ driverLink(driver.largeFile) }}</div>
						{% endfor %}
					</div>
					{% else %}
					<span>not available</span>
					{% endif %}
				</div>
				<!-- CHIPSET PART DOCS -->
				<div>
					<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
					<span><i>Documentation: </i></span>
					{% set docCount = 0 %}
					{% if chipset.getDocumentations() is not empty %}
						{% set moreDocCount = chipset.getDocumentations.count() %}
					{% else %}
						{% set moreDocCount = 0 %}
					{% endif %}
					{% if chipset.getChipsetParts() is not empty %}
						<!-- CHIPSET PART DOC COUNT -->
						{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDocumentations() is not empty) %}
							{% set docCount = docCount + chipPart.getDocumentations().count() %}
						{% endfor %}
					{% endif %}
					{% set moreDocCount = docCount + moreDocCount %}
					{% if moreDocCount > 0 %}
						<span>{{ moreDocCount }}&nbsp;{% if moreDocCount == 1 %}file{% else %}files{% endif %}</span>
					{% else %}
							<span>not available</span>
					{% endif %}
					{% if moreDocCount > 0 %}
						<div><div><div>
							<ul style="list-style-type: none;">
							<!-- CHIPSET PART DOCS -->
							{% if  chipset.getChipsetParts() is not empty %}{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDocumentations() is not empty) %}
								{% for documentation in chipPart.getDocumentations()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
								<li><a href="{{ vich_uploader_asset(documentation, 'manualFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
									{{ documentation.getLinkName() }}</a>({{ documentation.getLanguage().getName()}})</li>
								{% endfor %}{% endfor %}
							{% endif %}
							<!-- MORE CHIPSET DOCS -->
							{% if chipset.getDocumentations() is not empty %}
								{% for documentation in chipset.getDocumentations()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
									<li><a href="{{ vich_uploader_asset(documentation, 'manualFile') }}">
										<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
										{{ documentation.getLinkName() }}</a>({{ documentation.getLanguage().getName()}})</li>
								{% endfor %}
							{% endif %}
							</ul>
						</div></div></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	{% if chipset.getChipsetParts() is not empty %}
		{% set lpindex = 0 %}
		{% set lplen = 0 %}
		{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getImages() is not empty) %}
			{% for image in chipPart.getImages() %}
				{% set lplen = lplen + 1 %}
			{% endfor %}
		{% endfor %}
		{% if lplen > 0 %}
			<div class="show-images" id="sh-images">
				{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getImages() is not empty) %}
					{% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
						{% set lpindex = lpindex + 1 %}
						{% include 'macros/images.html.twig' with {'type':'chipset', 'entity': image, 'index': lpindex, 'length': lplen} %}
					{% endfor %}
				{% endfor %}
			</div>
		{% endif %}
	{#{% else %}
		<div class="show-image"><p style="font-size:20px;height:100px;">no images available :(</p></div>#}
	{% endif %}

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
