{% extends 'base.html.twig' %}

{% block title %}Manage {{entityDisplayNamePlural}}{% endblock %}

{% block body %}
	{% include 'admin/macros/admin_navbar.html.twig' with {
		'category':'memories', 
		'path':'memories', 
		'set':{'ramtype':'RAM Types','ramsize':'RAM Sizes', 'cachesize':'Cache Sizes'}
	} %}
{% endblock %}
