<div class="list-entry centered largefile{% if loop.index is divisible by(2) %} alt{% endif %}">
	<div class="header-label">Name</div>
	<div><a href="{{ path("driver_show", {id: object.getId()}) }}">{{object.getName()}}</a></div>

	<div class="header-label">Version</div>
	<div>{{object.getFileVersion()|length > 0 ? object.getFileVersion()}}</div>


	<div class="header-label">Release date</div>
	<div>{{object.getReleaseDateString()}}</div>

	<div class="header-label">Media type</div>
	<div class="tag-container">
		{% for relation in object.getMediaTypeFlags() %}
			<span class="text-block">
				<span>{{relation.getCount()}}x</span>
				<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="" height="24">
			</span>
		{% endfor %}
	</div>

	<div class="header-label">OS support</div>
	<div class="tag-container">
	{% for os in object.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getVersion <=> b.getVersion) %}
		<span style="display:inline-block;">{{ os.getName()}}{% if not loop.last %}, {% endif %}</span>
	{% endfor %}
	</div>
	
	<div class="header-label">Language</div>
	<div class="tag-container">{% for lang in object.getLanguages() %}{{ lang.getIsoCode|upper }}{% if not loop.last %}, {% endif %}{% endfor %}</div>

	<div class="header-label">Dump quality</div>
	<div class="tag-container">
		<span class="text-block">
			<img src="{{ asset('build/icons/quality/' ~ object.dumpQualityFlag().getTagName() ~ '.svg') }}"
				alt="{{ object.dumpQualityFlag().getTagName() }}" height="24" title="{{ object.dumpQualityFlag().getTagName()|capitalize }}">
		</span>
	</div>

	<div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./files/largefiles/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" height="24"><span>Edit</span></a>
    </div>
</div>
